{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<header>歡迎光臨，請註冊登入</header>
<form class="main" id="signup_form">
    <h2 class="flex">註冊帳號</h2>
    <div class="flex mb">
        <span>姓名</span>
        <input id="name_signup">
    </div>
    <div class="flex mb">
        <span>信箱</span>
        <input id="email_signup">
    </div>
    <div class="flex mb">
        <span>密碼</span>
        <input id="pw_signup">
    </div>
    <div class="flex mb">
        <button type="submit" id="btn-signup">註冊</button>
    </div>
    <div class="flex mb" id="show-signup">

    </div>
</form>

<form class="main" id="login_form">
    <h2 class="flex">登入系統</h2>
    <div class="flex mb">
        <span>信箱</span>
        <input name="email" id="email_login">
    </div>
    <div class="flex mb">
        <span>密碼</span>
        <input name="pw" id="pw_login">
    </div>
    <div class="flex mb">
        <button type="submit" id="btn-login">登入</button>
    </div>
    <div class="flex mb" id="show-login">

    </div>
</form>
<script src="/frontend/js/common.js"></script>
<script src="/frontend/js/home.js"></script>

{% endblock %}