{% extends "base.html" %}
{% block title %}Member{% endblock %}

{% block body %}
<header>歡迎光臨，這是會員頁</header>
<div class="main">
    <h2 id="welcome-msg"></h2>
    <div class="flex">
        <a href="/logout">登出系統</a>
    </div>
</div>
<form class="main" id="searchId-form">
    <h2>查詢會員姓名</h2>
    <div class="flex mb">
        <input id="search-id">
        <button type="submit">查詢</button>
    </div>
    <div class="flex mb" id="show-search-id">

    </div>
</form>
<form class="main" id="rename-form">
    <h2>更新我的姓名</h2>
    <div class="flex mb">
        <input id="rename-input">
        <button type="submit">更新</button>
    </div>
    <div class="flex mb" id="show-rename">

    </div>
</form>
<form class="main" id="whoSearchMe-form">
    <h2>誰查詢了我</h2>
    <div class="flex mb">
        <button type="submit">更新</button>
    </div>
    <div id="show-who-search">
    </div>
</form>
<script src="/frontend/js/common.js"></script>
<script src="/frontend/js/member.js"></script>

{% endblock %}