{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<header>歡迎光臨，請輸入信箱密碼</header>
<div class="card">
    <div class="flex title">登入系統</div>
    <form action="/login" method="post">
        <div class="flex">
            <span>信箱</span>
            <input type="text" name="email">
        </div>
        <div class="flex">
            <span>密碼</span>
            <input type="text" name="password">
        </div>
        <label class="flex">同意條款
            <input type="checkbox" id="agree" name="agree">
        </label>
        <div class="flex">
            <button id="login-btn">登入</button>
        </div>
    </form>
</div>
<div class="card">
    <div class="flex title">取得旅館資訊</div>
    <div class="flex">
        <span>編號</span>
        <input type="text" id="id-hotel">
    </div>
    <div class="flex">
        <button onclick="submit()">取得</button>
    </div>
</div>
<script>
    const login_btn = document.querySelector('#login-btn');
    const checkbox = document.querySelector('#agree');
    login_btn.addEventListener('click', function(e){
        if (!checkbox.checked){
            alert("請勾選同意條款");
            e.preventDefault();
        }
    });
    
    function submit(){
        const id_raw = document.querySelector('#id-hotel').value.trim();
        const id = Number(id_raw);
        if (!Number.isInteger(id) || id <= 0){
            alert("請輸入正整數");
            return
        };
        
        window.location = `/hotel/${id}`;
    }
    





</script>

{% endblock %}