html{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body{margin: 0px;}

.layout-row{
    display: flex;
    align-items: center;
}
.layout-row-end{
    justify-content: end;
}
.u-flex-grow{
    flex: auto;
}

.nav{ margin: 10px; }

.nav-link{
    margin-left: 20px;
    text-align: center;
}

.u-display-desktop{ display: block; }
.u-display-mobile{ display: none; }
.icon-hamburger{
    height: 30px;
    display: block;
}


.drawer{
    background-color: white;
    box-shadow: -8px 0 24px rgba(0,0,0,.12);
    height: 100vh;
    width: 100%;
    max-width: 50%;
    position: fixed;
    top: 0;
    right: -50%;
    transition: .3s ease;
    z-index: 1000;
    
}
.drawer-close{
    height: 20px; 
    display: flex; 
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}
.drawer-item{ margin-bottom: 20px; }

.drawer.is-open{ right: 0; }



.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #D6EBF6;
    height: 250px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.layout-main{
    width: 1200px;
    margin: 20px auto;
}

.promo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: #D6EBF6;
}
.promo-img{
    width: 80px;
    height: 50px;
    margin-right: 10px;
}
.promo-slot-1{ grid-area: p1; }
.promo-slot-2{ grid-area: p2; }
.promo-slot-3{ grid-area: p3; }

.promo-list{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "p1 p1" "p2 p3";
    column-gap: 20px;
    
}

.gallery{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "t1 t2 t3 t4 t5" "t6 t7 t8 t9 t10";
    column-gap: 20px;
}

.gallery-slot-1{ grid-area: t1; }
.gallery-slot-2{ grid-area: t2; }
.gallery-slot-3{ grid-area: t3; }
.gallery-slot-4{ grid-area: t4; }
.gallery-slot-5{ grid-area: t5; }
.gallery-slot-6{ grid-area: t6; }
.gallery-slot-7{ grid-area: t7; }
.gallery-slot-8{ grid-area: t8; }
.gallery-slot-9{ grid-area: t9; }
.gallery-slot-10{ grid-area: t10; }

.gallery-card{
    position: relative;
    height: 200px;
    margin-bottom: 20px;
}
.gallery-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 0;

}

.gallery-star{
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    z-index: 2;
}
.gallery-title{
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

@media (max-width:1200px){
    .layout-main{
        width: 90%;
    }
    .promo-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "p1 p2" "p3 p3";
    column-gap: 20px;
    }
    .gallery{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas: "t1 t2 t3 t4" "t5 t6 t7 t8" "t9 t9 t10 t10";
    column-gap: 20px;
    }
}

@media (max-width:600px){
    .u-display-desktop{display: none;}
    .u-display-mobile{display: block;}
    
    .layout-main{
        width: 90%;
    }
    .promo-list{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "p1" "p2" "p3";
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "t1" "t2" "t3" "t4" "t5" "t6" "t7" "t8" "t9" "t10";
    }
    
}

