<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <title>Storted XSS Demo</title>
</head>
<body>
    <header class="l-header flex">week8任務：Stored XSS Demo</header>
    <!-- Demo -->
    <div class="card">
        <p class="text-center">留言板(jinja engine)</p>
        <form class="flex" action="/comment" method="post">
            <input name="content" autocomplete="off">
            <button type="submit">留言</button>
        </form>
        <div class="text-center">留言列表：</div>
        {% if comment %}
            {% for c in comment %}
            <div class="text-center">{{c}}</div>
            {% endfor %}
        {% else %}
            <div class="text-center">目前沒有留言</div>
        {% endif %}
    </div>
</body>
</html>