body{
    margin: 0;
    font-size: 16px;
    font-family: "PingFang TC";
}
header{
    font-size: 50px;
    background-color: rgba(29, 46, 59, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}
span{
    margin-right: 10px;
}
input{
    height: 30px;
}
button{
    font-size: 1.2rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin: 10px;
}

.flex.title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.card{
    border: 1px solid #a0a0a0;
    
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

